.moviecard {
  width: 250px;
  min-height: 300px;
  height: auto;
  border-radius: 8px;
  background-color: #2c2c2c;
  padding: 20px;
  overflow: hidden;
  
  &:hover {
    // box-shadow: 0px 0px 4px #dedede;
    scale: 1.05;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  &__title {
    margin: 0 auto 15px;
    text-align: center;
  }
  
  &__poster {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    object-position: center;
    
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 3/4;
    }
  }
}