.headerWrapper {
  position: sticky;
  top: 0;
  background-color: #242424;
  z-index: 1;

  .contentWrapper {
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}